backports.functools-lru-cache==1.5
certifi==2018.4.16
chardet==3.0.4
cheroot==6.3.3
CherryPy==17.0.0
get==1.0.3
idna==2.7
jaraco.functools==1.20
more-itertools==4.2.0
portend==2.3
post==1.0.2
public==1.0.3
pyTelegramBotAPI==3.6.3
pytz==2018.5
pywin32==223
query-string==1.0.2
requests==2.19.1
six==1.11.0
tempora==1.13
urllib3==1.23
